.aboutusheading h2 {
  font-size: 70px;
  margin-left: 0em;
  margin-top: 39%;
  padding: 24px;
  min-width: 1px;
}
.aboutusheading a {
  text-decoration: none;
  color: #fff;
  margin-left: 1em;
}
.iconpaper {
  width: auto;
  margin-top: -26%;
  box-shadow: none;
}
.iconimg:hover {
  animation: spin 2s infinite;
}
.iconimg {
  margin: 0;
}
.singleicon {
  position: relative;
  z-index: 1;

  margin-bottom: 30px;
  padding-top: 25px;
  padding-right: 30px;
  padding-bottom: 24px;
  padding-left: 30px;
  border: 1px solid rgba(50, 50, 50, 0.5);
  border-radius: 20px;
  background-color: white;

  margin-left: 12%;
  width: 400px;
  height: 200px;
}
.singleicon:hover {
  border-color: #007bff;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.singleicon h3 {
  padding: 24px;
  margin-top: -26%;
  margin-left: 22%;
  text-align: initial;
}
.singleicon p {
  text-align: initial;
  margin-left: 28%;
}

.container {
  background-color: #004d61;
  height: 90%;
  width: 60%;
  padding: 100px;

  margin-left: 20%;
  border-radius: 22px;
  color: #fff;
  text-align: center;
  margin-bottom: 80px;
}
.container h1,
h4 {
  margin-top: 2%;
  font-weight: bold;
}
.container p {
  font-size: 14px;
  margin-top: 4%;
}
.container button {
  background-color: #fff;
  height: 56px;
  width: 260px;
  border-radius: 34px;
  color: #004d61;
  font-weight: bold;
  font-size: 15px;
  margin-top: 8%;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #f5142b;

  color: #fff;
}
.img {
  min-height: 30%;
  width: 30%;
  margin-right: 88%;
}
.img1 {
  min-height: 50%;
  width: 50%;
  margin-left: 50%;
  margin-top: -10%;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(200px, auto);
}
.para {
  grid-column: 2;
  text-align: center;
  margin-top: -42%;
  display: block;
  /* margin-block-start: 1em;
    margin-block-end: 1em; */
  /* margin-inline-start: 0px;
    margin-inline-end: 0px; */
  line-height: 22px;
  margin-left: -30%;
  height: 50%;
  width: 90%;

  display: block;
}
.para1 {
  grid-column: 2;
  text-align: center;
  margin-top: -100%;
  display: block;
  /* margin-block-start: 1em;
    margin-block-end: 1em; */
  /* margin-inline-start: 0px;
    margin-inline-end: 0px; */
  line-height: 22px;
  margin-left: -76%;
  height: 40%;
  width: 46%;

  display: block;
}
.paper1 {
  box-shadow: none;
}
.style {
  font-size: 55px;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #004d61;
  font-weight: 700;
  margin: 0 0 20px;
  text-transform: capitalize;
  margin-right: -12.5%;
}
.style1 {
  font-size: 55px;

  flex-direction: column;
  color: #004d61;
  font-weight: 700;
  margin: 0 0 20px;
  text-transform: capitalize;
  margin-left: -56%;
}
.paper {
  margin-top: 8%;
  box-shadow: none;
}
.home {
  font-size: 14px;
  font-weight: none;
  text-decoration: none;
  margin-top: 18%;
  margin-right: 10%;
}
.span {
  color: #5bd1d7;
  font-size: "2vh";
  font-weight: bold;
  margin-right: 19%;
  text-align: center;
  justify-content: center;
}
.span1 {
  color: #5bd1d7;
  font-size: "2vh";
  font-weight: bold;
  margin-right: 60%;
  grid-column: 1;
}

@media screen and (max-width: 960px) {
  .container {
    background-color: #004d61;
    height: 600px;
    width: auto;
    margin-left: -6%;
    border-radius: 22px;
    color: #fff;
    text-align: center;
  }
  .iconpaper {
    width: auto;
    margin-top: 10%;
    box-shadow: none;
  }
  .span1 {
    text-align: center;
    justify-content: center;
    margin-left: 50%;
    display: flex;
    flex-direction: row;
  }
  .style1 {
    text-align: center;
    margin-right: -58%;
  }
  .button {
    text-align: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 0%;
  }

  .paper {
    margin-top: 8%;
    box-shadow: none;
    height: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .about {
    justify-content: center;
    text-align: center;

    flex-direction: row;
    margin-right: -60%;
  }
  .wrapper {
    height: auto;
    width: auto;
    text-align: center;
    justify-content: center;
  }
  .para {
    text-align: initial;
    justify-content: center;
    display: block;
    font-size: auto;
    width: auto;
    height: auto;
    margin-left: -100%;
    margin-top: 2%;
  }
  .para1 {
    text-align: initial;
    justify-content: center;
    display: block;
    font-size: auto;
    width: auto;
    height: auto;
    margin-left: -100%;
    margin-top: 2%;
  }
  .img {
    min-height: 0%;
    width: 0%;
  }
  .img1 {
    min-height: 0%;
    width: 0%;
  }
  .home {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-right: 0%;
    margin-top: 50%;
  }
  .home a {
    color: #fff;
    text-decoration: none;
    margin-left: -40%;
  }
  .aboutusheading h2 {
    text-align: center;

    justify-content: center;
    flex-direction: row;
    margin-right: -39%;
  }
}
/* @media screen and (max-width: 411px) {
  .aboutusheading h2 {
    display: contents;
  
  }
  .aboutusheading a{
    display:block;
  }
  .style{
    display:contents;
  }
  .span{
    margin-left: 58px;
  }
  .para,.para1{
    text-align: initial;
    padding-right: 5px;
    padding-left: 5px;
  }
  .span1{
    display: contents;
    text-align: initial;
  }
  .singleicon{
    border-radius: 14px;
    margin-right: 0px;
    margin-left: 0px;
    width: auto;
  }
  .singleicon h3{
    
    margin-top: -30%;
  }
  .singleicon p{
    padding-left: 14px;
  }
  .container{
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
  }
  .container h4{
   text-align: center;;
  }
  .container button{
    margin-left: -8px;
  }
}
@media screen and (max-width: 320px) {
  .aboutusheading h2 {
    display: contents;
    font-size: xxx-large;
  
  }
  .aboutusheading a{
    display:block;
  }
  .style{
    display:contents;
  }
  .span{
    margin-left: 58px;
  }
  .para,.para1{
    text-align: initial;
    padding-right: 5px;
    padding-left: 5px;
  }
  .span1{
    display: contents;
    text-align: initial;
  }
  .singleicon{
    border-radius: 14px;
    margin-right: 0px;
    margin-left: 0px;
    width: auto;
  }
  .singleicon h3{
    
    margin-top: -30%;
  }
  .singleicon p{
    padding-left: 14px;
    margin-bottom: 5px;
  }
  .container{
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
  }
  .container h4{
   text-align: center;;
  }
  .container button{
      margin-left: -70px;
    }

}
@media screen and (max-width: 414px) {
  .aboutusheading h2 {
    display: table;
    margin-left: 0px;
  
  }
  .aboutusheading a{
    margin-left: 90px;
   
  }
  .style{
    display:contents;
  }
  .span{
    margin-left: 58px;
  }
  .para,.para1{
    text-align: initial;
    padding-left: 5px;
    padding-right: 5px;
  }
  .span1{
    display: contents;
    text-align: initial;
  }
  .singleicon{
    border-radius: 14px;
    margin-right: 0px;
    width: auto;
    margin-left: 0px;
  }
  .singleicon h3{
    
    margin-top: -30%;
  }
  .singleicon p{
    padding-left: 10px;
    margin-bottom: 5px;
  }
  .container{
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
  }
  .container h4{
   text-align: center;;
  }
  .container button{
    margin-left: -38px;
  }
}
@media screen and (max-width: 768px) {
  .aboutusheading h2 {
    display: contents;
    font-size: xxx-large;
  
  }
  .aboutusheading a{
    display:block;
  }
  .span{
    text-align: center;
    display: contents;
    font-size: xx-large;
  }
  .style{
    margin-left: -50px;
  }
  .para,.para{ 
    text-align: initial;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .span1{
    display: contents;
    font-size: xx-large;
  }
  .singleicon{
    border-radius: 14px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  .singleicon h3{
    margin-top: -90px;
    font-size: x-large;
  }
  .singleicon p{
    font-size: large;
    
  }
  .container{
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
    height: 400px;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 1024px) {
  .span{
    margin-left: 45px;
  }
  .style{
    display: block;
    margin-left: 214px;
  }
  .para{
    text-align: initial;
    width: fit-content;
    padding-right: 12px;
    margin-bottom: 40px;
  }
  .para1{
    text-align: initial;
    margin-left: -82%;
    width: 60%;
  }
  .singleicon:first-child{
    width: 600px;
    border-radius: 14px;
    margin-top: 200px;
    margin-left: 220px;
    margin-bottom: 26px;
  }
  .singleicon{
    width: 600px;
    border-radius: 14px;
    margin-left: 220px;
  
  }
  .singleicon h3{
    margin-top:-90px;
  }
}
@media screen and (max-width :360){
   .span{
     font-size: inherit;
   }  
} */

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .aboutusheading  h2{
      display: table-caption;
      padding-right: 0px;

    }
    .singleicon{
      
      width: auto;
      margin-left: 0px;

    }
    .container{
      width: auto;
      margin-left: 0px;
      margin-bottom: auto;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  .aboutusheading h2 {
    display: table-cell;
  }
  .span{
    margin-left: 70px;
  }
  .style{
    margin-left: 0px;
    margin-right: 0px;

  }
  .para,.para1{
    padding-left: 5px;
    padding-right: 5px;
  }
  .span1{
    display: contents;
  }
  .singleicon{
    margin-left: 0px;
    width: auto;
  }
  .container{
    margin-left: 0px;
    margin-bottom: auto;
  }
  .container button{
    margin-left: -30px;

  }
}
/* ----------- iPhone 4 and 4S ----------- */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
   .aboutusheading h2 {
      display: table-caption;
   }
   .style{
     display: flex;
   }
   .span{
    margin-left: 80px;
   }
   .para,.para1{
    padding-left: 5px;
    padding-right: 5px;
   }
   .span{
    display: contents;
   }
   .singleicon{
    margin-left: 0px;
    width: auto;
   }
   
   .singleicon p{
    padding-bottom: 30px;
   }
   .container {
     margin-left: 0px;
   }
   .container button{
    margin-left: -40px;
   }
}

