 /* Helpcenter css*/
 .helpheading h2{
    font-size: 70px;
    margin-left:-60%;
    margin-top: 30%;
    padding:20px;
}
.helpheading a{ 
     text-decoration: none;
     color: #fff;
     margin-left: -54%;
     font-size: 16px;
     
}
.row{
    
    width:40%;
    margin-left: 32%;
    text-align: center;
    justify-content: center;

}
.column{
    text-align: inherit;
    padding: 60px;

}
.column h2{ 
    color:#413E3E;
    
    font-size: 24px;
    font-weight: 700;
    margin:0 0 17px;
}

.helpiconhover:hover{
   animation: spin 2s infinite; 
}
.section3{
    background-color: #f4eafe;
    height: 300px;
    text-align: center;
    padding-top: 80px;

}
.section3 button{
    background-color: #5BD1D7;
    height:44px;
    width:12%;
    color:#fff;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
}
button:hover{ 
    background-color: red;
    color: #fff;
 
}
.section3 div{
    font-size:40px;
    font-weight: bold;
}
 /* Standard css*/
 .standardheading h2{
    font-size: 70px;
    padding:20px;
    margin-left:-28%;
    margin-top: 22%;
 }
 .standardheading a{
    text-decoration: none;
     color: #fff;
     margin-left: -24%;
     font-size: 16px;
 }
/* compare css*/
 .compareheading h2{
    font-size: 70px;
    padding:20px;
    margin-left:-32%;
    margin-top: 22%;
 }
 .compareheading a{
    text-decoration: none;
    color: #fff;
    margin-left: -26%;
    font-size: 16px;
 }
 /* blog css*/
 .blogheading h2{
    font-size: 70px;
    padding:20px;
    margin-left:-114%;
    margin-top: 44%;
 }
 .blogheading a{
    text-decoration: none;
    color: #fff;
    margin-left: -106%;
    font-size: 16px;
    font-size: 16px;
 }
 /* blog01 css*/
 .blog01heading h2{
    font-size: 70px;
    padding:20px;
    margin-left:-154%;
    margin-top: 50%;
 }
 .blog01heading a{
    text-decoration: none;
     color: #fff;
     margin-left: -140%;
     font-size: 16px;
 }
 /* blog02 css*/
 .blog2heading h2{
    font-size: 70px;
    padding:20px;
    margin-left:-66%;
    margin-top: 34%;
 }
 .blog2heading a{
    text-decoration: none;
    color: #fff;
    margin-left: -60%;
    font-size: 16px;
}
 /*Contact us css*/
.contactusheading h2{
   font-size: 70px;
   margin-left:-68%;
   margin-top: 32%;
   padding:20px;

}
.contactusheading a{
   text-decoration: none;
    color: #fff;
    margin-left: -60%;
    font-size: 16px;
}
.contactussection{
   margin-top: 100px;
   margin-left: 14%;
}
.contactussection span{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    display: block;
    margin: 0 0 0;
    text-transform: uppercase;
    color: #5BD1D7;
}
.contactussection h1{
    font-size: 60px;
    font-weight: 700;
    margin: 0 0 20px;
    text-transform: capitalize;
    color: #004D61;
}
.contactussection p{
   font-size: 16px;
    line-height: 26px;
}
.sectionimg1{
   margin-left: 52%;
    width: 600px;
    height: 400px;
    
}
.input{
   display: block;
    width: 40%;
    height:80px;
    
   
   
    font-weight: 400;
   
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
 
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media screen and (max-width: 960px) {
     /* Helpcenter css*/
     .helpheading h2{
     text-align: center;
     justify-content: center;
     display: flex;
     flex-direction:row;
     margin-right: -40%;
     margin-top: 10%;

    }
    .helpheading a{ 
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-right: 40px;
    }
    /* Standard css*/
    .standardheading h2{
        text-align: center;
        justify-content: center;
        font-size: auto;
        flex-direction:column;
      
        margin-top: 10%;
     }
     .standardheading a{
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-right: 40px;
     }
     /* compare css*/
     .compareheading h2{
        text-align: center;
        justify-content: center;
        flex-direction:column;
        display:grid;
        margin-right: 29px;
        margin-top: 10%;
     }
     .compareheading a{
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-right: 40px;
     }
     /* blog css*/
     .blogheading h2{
        text-align: center;
        justify-content: center;
        flex-direction:column;
        display:grid;
        margin-right: -39%;
        margin-top: 10%;
     }
     .blogheading a{
         text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-right:-10%;
     }
     /* blog01 css*/
     .blog01heading h2{
        text-align: center;
        justify-content: center;
        flex-direction:column;
        display:grid;
        margin-right: -39%;
        margin-top: 10%;
     }
    .blog01heading a{
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-right:-10%;
    }
    /* blog02 css*/
   .blog2heading h2{
    text-align: center;
        justify-content: center;
        flex-direction:column;
        display:grid;
        margin-right: -46%;
        margin-top: 10%;
  }
 .blog2heading a{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-right:-10%;
 }
  /*Contact us css*/
 .contactusheading h2{
     text-align: center;
        justify-content: center;
        flex-direction:column;
        display:grid;
        margin-right: -46%;
        margin-top: 10%;

}
.contactusheading a{
   text-align: center;
   display: flex;
   justify-content: center;
   flex-direction: row;
   margin-right:-10%;
}


}
