 /* Helpcenter css*/
 .helpheading h2{
    font-size: 70px;
    margin-left:-60%;
    margin-top: 30%;
    padding:20px;
}
.helpheading a{ 
     text-decoration: none;
     color: #fff;
     margin-left: -54%;
     font-size: 16px;
     
}
.row{
    
    width:40%;
    margin-left: 32%;
    text-align: center;
    justify-content: center;

}
.column{
    text-align: inherit;
    padding: 60px;

}
.column h2{ 
    color:#413E3E;
    
    font-size: 24px;
    font-weight: 700;
    margin:0 0 17px;
}

.helpiconhover:hover{
   animation: spin 2s infinite; 
}
.section3{
    background-color: #f4eafe;
    height: 300px;
    text-align: center;
    padding-top: 80px;

}
.section3 button{
    background-color: #5BD1D7;
    height:44px;
    width:12%;
    color:#fff;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
}
button:hover{ 
    background-color: red;
    color: #fff;
 
}
.section3 div{
    font-size:40px;
    font-weight: bold;
}
 /* Standard css*/
 .standardheading h2{
    font-size: 70px;
    padding:20px;
    margin-left:-28%;
    margin-top: 22%;
 }
 .standardheading a{
    text-decoration: none;
     color: #fff;
     margin-left: -24%;
     font-size: 16px;
 }
/* compare css*/
 .compareheading h2{
    font-size: 70px;
    padding:20px;
    margin-left:-32%;
    margin-top: 22%;
 }
 .compareheading a{
    text-decoration: none;
    color: #fff;
    margin-left: -26%;
    font-size: 16px;
 }
 /* blog css*/
 .blogheading h2{
    font-size: 70px;
    padding:20px;
    margin-left:-114%;
    margin-top: 44%;
 }
 .blogheading a{
    text-decoration: none;
    color: #fff;
    margin-left: -106%;
    font-size: 16px;
    font-size: 16px;
 }
 .blogfooter{
   margin-top: 0px;
   padding-top: 24px;
   color:#413E3E;
   cursor: pointer;
   font-weight: bold;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 0px;
   border-top: 1px solid rgba(15, 54, 97, .2);
}
.nextprev{
   color: #fff;
    padding-top: 10px;
    width:8%; 
    height:44px;
    background-color: #004D61;
    font-weight: bold;
    font-size:23px;
    margin-top: 26px;
    margin-right: 20px;
    margin-bottom: 20%;
    box-shadow: 20px 20px 11px rgba(33,33,33,.2);
   
   
}
.nextprev1{
  
   background-color:#004D61;
   padding-top: 10px;
   width:8%; 
   height:44px;
   color: #fff;
   font-weight: bold;
   font-size:23px;
   margin-top: 26px;
   margin-right: 20px;
   margin-bottom: 20%;
   box-shadow: 20px 20px 11px rgba(33,33,33,.2);
}
.nextprev1 a{
   text-decoration: none;
   color: #fff;

   font-family: 'sans-serifs';
}
.nextprev a{
   text-decoration: none;
   color: #004D61;
   font-family: 'sans-serifs';
}
.aactive{
   text-decoration: none;
   
   font-family: 'sans-serifs';
}
.nextprev:hover{ 
   background-color:#004D61;
  
}
.nextprev a:hover{
   color: #fff;
   
}
.blogcard{
   height:auto;
   margin-top: 100px;
   width:400px;
   position: relative;
   margin-bottom: 30px;
   padding: 8px;
   margin-left: 25%;
   padding-bottom: 45px;
   padding-right: 20px;
   padding-left: 20px;
    -webkit-transition: all .34s ease-in-out;
    transition: all .34s ease-in-out;
    border: 1px solid rgba(15, 54, 97, .2);

}
.blogcard a{
   color: #3d446f;
   padding-right: 34px;
   padding-left: 30px;
   line-height:38px;
}
.blogcard a:hover{ 
   color: #496cfe;
}
.blogimg{ 
   width: 360px;
}

.gridrow{
   display: inline-flex;
   width: auto;
   height: auto;
   padding-left: 40px;
   margin-left: 40px;
}
.gridColumn{
   padding-right: 22px;
}
.blogcard span{
   padding-top: 40%;
   font-size: 30px;
    font-weight: 600;
    padding-top: 90%;
    margin-top: 20px;
    line-height: 40px;
   
    -webkit-transition: all .24s ease-in-out;
    transition: all .24s ease-in-out;
    word-break: break-word;
    color: #000;
   

}
.blogcard p{
   font-size: 15px;
    line-height: 26px;
    padding-top:20px;
    color: #3d446f;
    
}
.blogcard span:hover{
   color: #004D61;
}
.blogcard:hover{
   cursor: pointer;
   box-shadow: 10px 10px 11px rgba(33,33,33,.2);
   border: 1px solid #496cfe;
}
 /* blog01 css*/
 .blog01heading h2{
    font-size: 70px;
    padding:20px;
    margin-left:-154%;
    margin-top: 50%;
 }
 .blog01heading a{
    text-decoration: none;
     color: #fff;
     margin-left: -140%;
     font-size: 16px;
 }
 .blog01section{
   height:auto;
   width:800px;
   position: relative;
   margin-bottom: 30px;
   padding: 8px;
  
   margin-left: 15%;
   padding-bottom: 45px;
   padding-right: 20px;
   padding-left: 20px;
    -webkit-transition: all .34s ease-in-out;
    transition: all .34s ease-in-out;
    border: 1px solid rgba(15, 54, 97, .2);

}
.blog01section:hover{
   cursor: pointer;
   box-shadow: 10px 10px 11px rgba(33,33,33,.2);
   border: 1px solid #496cfe;
}
.blog01img{
   width: 760px;
}
.blog01section p{
   font-size: 15px;
    line-height: 26px;
    padding-top:20px;
    color: #3d446f;
}
.blog01section span:hover{
   color: #004D61;
}
.blog01section:hover{
   cursor: pointer;
   box-shadow: 10px 10px 11px rgba(33,33,33,.2);
   border: 1px solid #496cfe;
}
.blog01section span{
   padding-top: 40%;
   font-size: 30px;
    font-weight: 600;
    padding-top: 90%;
    margin-top: 20px;
    line-height: 40px;
   
    -webkit-transition: all .24s ease-in-out;
    transition: all .24s ease-in-out;
    word-break: break-word;
    color: #000;
}
.blog01section a{
   color: #3d446f;
   padding-right: 34px;
   padding-left: 8px;
   line-height:38px;
  
}
.blog01section a:hover{
   color: #496cfe;

}
 .blog01footer{
   margin-top: 0px;
   padding-top: 24px;
   color:#413E3E;
   cursor: pointer;
   font-weight: bold;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 0px;
   border-top: 1px solid rgba(15, 54, 97, .2);
}
.sideblog01card{
   height:290px;
   width:264px;
   cursor: pointer;
   margin-top: 10px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   border: 1px solid #496cfe;
   margin-left: -120%;
   padding-left: 14px;
   padding-right: 14px;
}
.sideblog01card span{
   font-size: 16px;
   font-weight:800;
   text-align: center;
   padding-top: 20px;
   display: block;
   margin-bottom: 15px;
   color: #004D61;
}
.sideblog01card input{
    padding-top: 30px;
    justify-content: center;
    font-size: 16px;
    margin-left: 30px;
}
.sideblog01card button{
   padding: 17px 58px;
   margin-top: 40px;
   position: center;
    z-index: 1;
   margin-left: 20px;
    color: #fff;
   
    border: none;
    text-transform: uppercase;
    background-color: #5BD1D7 ;
    border-radius: 24px;
    font-weight: bold;
    font-size:14px;

}
.sideblog01card h3{
   font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    position: relative;
    z-index: 1;
    margin: 0 0 25px;
    padding: 0 0 25px;
    text-align: center;
    text-transform: capitalize;
    color: #000;
    border-bottom: 1px solid rgba(32, 32, 32, .078);
} 
.sideblog01card1{
   height:auto;
   width:264px;
   cursor: pointer;
   margin-top: 10px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   border: 1px solid #496cfe;
   margin-left: -120%;
   padding-left: 14px;
   padding-right: 14px;
   padding-bottom: 20px;
}
.sideblog01card1 tr{
   font-size: 14px;
   color: #717584;
   line-height:30px;
   
}
.alink a{
   font-size: 13px;
   line-height: 1;
   display: inline-block;
   margin: 0 5px 10px 0;
   padding: 6px 8px 8px;
   text-transform: uppercase;
   color: #1f2732;
   border-radius: 999px;
   text-decoration: none;
   background-color: #f1f2f6;
}
.sideblog01card1 img{
   width:70px;
   height:50px;
}

.sideblog01card1 a:hover{
    color:#496cfe;
} 
.sideblog01card1 td:last-child{
   padding-left: 140px;
}

.sideblog01card1 tr p{
   font-size: 12px;
   display: block;
   color: #646262;
   margin-left: 74%;
   width:90%;
   margin-bottom: 40px;
}
.sideblog01card1 h3{
   font-size: 24px;
   font-weight: 700;
   line-height: 18px;
   position: relative;
   z-index: 1;
   
   margin: 0 0 25px;
   padding: 32px 0 25px;
   text-align: center;
   text-transform: capitalize;
   color: #000;
   border-bottom: 1px solid rgba(32, 32, 32, .078);
}
.sideblog01card3{ 
   height:auto;
   width:264px;
   cursor: pointer;
   margin-top: 10px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   border: 1px solid #496cfe;
   margin-left: -120%;
   padding-left: 14px;
   padding-right: 14px;
   padding-bottom: 20px;
}
.sideblog01card3 h3{
   font-size: 24px;
   font-weight: 700;
   line-height: 18px;
   position: relative;
   z-index: 1;
   
   margin: 0 0 25px;
   padding: 32px 0 25px;
   text-align: center;
   text-transform: capitalize;
   color: #000;
   border-bottom: 1px solid rgba(32, 32, 32, .078);
}
.sideblog01card3 tr span{
   font-size: 16px;
   font-weight: 600;
   line-height: 26px;
   width:54%;
   display: block;
   margin-top: -48%;
   margin-left:36%;
   text-decoration: none;
   color: #000;
   border: 0;
   margin-bottom: 2px;
}
.sideblog01card3 tr p{
   font-size: 12px;
   display: block;
   color: #646262;
   margin-left:36%;
   width:90%;
   margin-top: 2px;
   margin-bottom: 20px;
}
.sideblog01card3 tr{
   font-size: 14px;
   color: #717584;
   line-height:40px;
   
}
.sideblog01card3 img{
   width:70px;
   height:50px;
}
 /* blog02 css*/
 .blog2heading h2{
    font-size: 70px;
    padding:20px;
    margin-left:-66%;
    margin-top: 34%;
    
 }
 .blog2heading a{
    text-decoration: none;
    color: #fff;
    margin-left: -60%;
    font-size: 16px;
}
.blog02card{
   height:auto;
   width:800px;
   position: relative;
   margin-bottom: 60px;
   padding: 8px;
   
   margin-left: 22%;
   padding-bottom: 45px;
   padding-right: 20px;
   padding-left: 20px;
    -webkit-transition: all .34s ease-in-out;
    transition: all .34s ease-in-out;
    border: 1px solid rgba(15, 54, 97, .2);
}
.blog02card img{
   width: 760px;
}
.blog02card p{
   font-size: 15px;
   line-height: 26px;
   padding-top:20px;
   color: #3d446f;
}
.blog02card:hover{
   cursor: pointer;
   box-shadow: 10px 10px 11px rgba(33,33,33,.2);
   border: 1px solid #496cfe;
}
.blog02card span{
   padding-top: 40%;
   font-size: 30px;
    font-weight: 600;
    padding-top: 90%;
    margin-top: 20px;
    line-height: 40px;
   
    -webkit-transition: all .24s ease-in-out;
    transition: all .24s ease-in-out;
    word-break: break-word;
    color: #000;
}
.blog02card a{
   color: #3d446f;
   padding-right: 34px;
   padding-left: 8px;
   line-height:38px;
  
}
.blog02card footer{
   margin-top: 20px;
   padding-top: 24px;
   color:#413E3E;
   cursor: pointer;
   font-weight: bold;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 0px;
   border-top: 1px solid rgba(15, 54, 97, .2);
}
.blog02card footer td{
   padding-right: 26px;
   font-size: 20px;
}
.blog02card footer td i:hover{ 
   color: #6610f2;
}

.blog02quote{
   margin-top: 17px;
   font-size: 17px;
    font-weight: 400;
    font-style: italic;
    line-height: 30px;
    position: relative;
    padding-top: 36px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: #fff;
    background-color: #004D61;
}
.blog02quote1{
   position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.commentsspan{
   font-size: 26px;
   text-align: center;
   justify-content: center;
   font-weight: 750;
   text-transform: capitalize;
   color: #004D61;
   display:center;
   margin-left: 22%;
   padding-top: 80px;
}
.blog02quote1 img{
   height:400px;
   width:280px;
   margin-top: 14px;
   margin-left:5%;
}
.blog02quote1 li{
   font: 16px;
   line-height:36px;
   margin-top: 10px;
}
.blog02card h4{
   font-weight: bolder;
   text-align: left;
}
.commentscard{
   height:auto;
   width:860px;
   position: relative;
   margin-bottom: 30px;
   padding: 8px;
   margin-top: 16px;
   margin-left: 22%;
   
   padding-right: 20px;
   padding-left: 20px;
   cursor: pointer;
   box-shadow: 10px 10px 11px rgba(33,33,33,.2);
   border: 1px solid #496cfe;
   padding-bottom: 20px;
   
}
.commentscard tr span{
   font-size: 19px;
   font-weight: 900;
   line-height: 26px;
   
   display: block;
   margin-top: -8%;
   margin-left:14%;
   text-decoration: none;
   color: #000;
   border: 0;
   margin-bottom: 16px;
}
.commentscard tr a{
   font-size: 14px;
   display: block;
   color: #646262;
   margin-left:14%;
   width:90%;
   margin-top: 2px;
   margin-bottom: 20px;
}
.commentscard tr p{
   margin-left:14%;
   font-size: 15px;
    line-height: 26px;
    padding-top:10px;
    color: #3d446f;
}
.commentscard a{
   color:#496cfe;
   text-decoration: none;
   margin-left: 90%;
  
}
.Feedback input{
   display: block;
   width: 860px;
   height:40px;
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
   padding-top: 30px;
  
}
.Feedback{
   margin-left: 22%;
   margin-top: 32px;
   margin-bottom: 32px;
}
.Feedback button{
   background-color: #5BD1D7;
   height:50px;
   width:16%;
   color:#fff;
   border: none;
   border-radius: 12px;
   font-weight: bold;
   margin-top: 50px;
   cursor: pointer;
   font-size: 16px;
   

}
/*Blog03 css*/
.blog03paper{ 
   margin-left: -4%;
}

.blog03card span{ 
   font-size: 26px;
   font-weight: 700;
   margin: 60px 0 60px;
   text-transform: capitalize;
   margin-left:22%;
   padding-top: 40px;
}
.blog03card div{
   margin-top: 44px;
   font-size: 15px;
    padding: 30px 50px;
    border-color: rgba(15, 54, 97, .5);
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-left:22%;
    margin-right: 20%;
    margin-bottom: 40px;
    
}
.blog03card div img{
  border-radius: 50%;
  margin-left:-4%; 
}
.blog03card td{
  
    padding-right: 550px;

}
.blog03card div p{
   margin-left:14%;
   font-size: 15px;
    line-height: 26px;
    padding-top:10px;
    color: #3d446f;
    margin-left: 16%;
}
.blog03card div h3{
   display: block;
    font-size: 1.30em;
    /* margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    font-weight: bold;
    margin-left: 16%;
    margin-top: -14%;
  
}
.blog03card div td{
  
   padding-right: 20px;
   font-size: 20px;
   padding-top: 10px;
}
.blog03card div td i:hover{ 
   color: #6610f2;
}
/* Compare tourism*/
.comparecard{ 
   text-align:center;
   justify-content: center;
   margin-top: 80px;
}
.comparecard span{
   font-family: 'Lato', sans-serif;
    font-size: 18px;
    display: block;
    margin: 0 0 0;
    text-transform: uppercase;
    color: #5BD1D7;
}
.comparecard h2{
   font-size: 60px;
    font-weight: 700;
    margin: 0 0 20px;
    text-transform: capitalize;
    color: #004D61;
}
.comparecard p{
   font-size: 16px;
    line-height: 26px;
}
.comparestandard{
  width:70%;
  margin-left:40%;
  
  
}
.comparestandard img{
    width:auto;
    height:200px;
  
}

.comparestandard span{
   font-size: 24px;
    font-weight: 600;
    margin-bottom: 13px;
   
}
.comparestandard ul li i.fas{
   color: #2ecc71;
   padding-right: 5px;
   
}
.comparestandard li{
   padding: 15px;
    border-bottom: 1px solid #ecf0f1;
    color: #2c3e50;
   width:576px;
    /* background: #ecf0f1; */
}


.comparestandard li:nth-child(2n) {
   background: #ecf0f1;
}
.comparestandard div{
   color: #fff;
    background: #2c3e50;
    height: 100px;
    overflow: hidden;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: -40px;
    font-size: 1.9em;
    font-weight: bold;
    text-align: center;
    width:576px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;

}
.comparecardset tr{
    width:100%;
   
}
.comparecardset td:last-child{
 
  margin-right:10%;
}
 /*Contact us css*/
.contactusheading h2{
   font-size: 70px;
   margin-left:-68%;
   margin-top: 32%;
   padding:20px;

}
.contactusheading a{
   text-decoration: none;
    color: #fff;
    margin-left: -60%;
    font-size: 16px;
}
.contactussection{
   margin-top: 100px;
   margin-left: 14%;
}
.contactussection span{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    display: block;
    margin: 0 0 0;
    text-transform: uppercase;
    color: #5BD1D7;
}
.contactussection h1{
    font-size: 60px;
    font-weight: 700;
    margin: 0 0 20px;
    text-transform: capitalize;
    color: #004D61;
}
.contactussection p{
   font-size: 16px;
    line-height: 26px;
}
.sectionimg1{
   margin-left: 52%;
    width: 600px;
    height: 400px;
    margin-top: -60%;
}
.input{
    display: block;
    width: 40%;
    height:80px;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    padding-top: 30px;
   
}
.textfeild{
   width: 40%;
   height:80px;
   font-weight: 400;
   color: #495057;
   background-color: #fff;
   padding-top: 30px;
   margin-top: 20px;
   
}
.btnsubmit{
  
    color: #fff;
    border: none;
    background-color: #5BD1D7 ;
    height:64px;
    width:120px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 30px;
    margin-top: 40px;
}
.addresssection{
   width:340px;
   height:300px;
   border-radius: 40px;
   box-shadow: 10px 10px 11px rgba(33,33,33,.2); 
   margin-bottom: 30px;
   margin-top:90px;
   
   text-align:center;
   margin-left: 50%;
   
   
}
.addresssection span{
   color:#413E3E;
   font-size: 24px;
   font-weight: 600;
   line-height:90px;
  
}
.addresssection p{
   color:#413E3E;
   font-size: 16px;
    line-height: 26px;
    padding-top: 1px;
    text-align: center;
    justify-content: center;
   
}
.row1{
   margin-left: -180px;
   width: 100%;
   height: auto;

}
.contcolumn{
   padding-right: 18px;
 
}
.avatar1{
   margin-left: 120px;
   padding-top: 18px;
   
}
.contavatar{ 
  padding-top: 18px;
  margin-left: 110px;
}

.socialicon{
  
   text-decoration: none;
   color: #413E3E;
   
}

.addresssection:hover{
   border-color: #496cfe;
   border: 1px solid #496cfe;
}
.textsection{
   text-align:center;
   justify-content: center;
   display: flex;
   flex-direction:column;
   margin-top: 60px;
   margin-bottom: 90px;
}
.textsection span{
   font-size: 18px;
   display: block;
   margin: 0 0 0;
   text-transform: uppercase;
   color: #5BD1D7;
   
}
.textsection h1{
   font-size: 60px;
    font-weight: 700;
    margin: 0 0 20px;
    text-transform: capitalize;
    color: #004D61;
}
.textsection p{
   font-size: 16px;
    line-height: 26px;
}

.brands{
   margin-bottom: 100px;
}
.brands ul{
  
    display: flex;
 
    list-style: none;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 50%;
    margin-left:25%;
}
.brands li{
    max-width: 25%;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    text-align: center;
    border-right: 1px solid rgba(3, 64, 131, .2);
    border-bottom: 1px solid rgba(3, 64, 131, .2);
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.brands li:last-child{
   border-right: none;
}
.standardcard div {
   color: #fff;
    /* background-image: -webkit-gradient(linear, left bottom, left top, from(#ffaa57), to(#fe5c76)); */
    /* background-image: -webkit-linear-gradient(bottom, #ffaa57 0%, #fe5c76 100%); */
    background-image: linear-gradient(0deg, #ffaa57 0%, #fe5c76 100%);
    /* -webkit-box-shadow: 0 13px 20px 0 rgb(13 21 75 / 40%); */
    box-shadow: 0 13px 20px 0 rgb(13 21 75 / 40%);
    font-size: 20px;
    
    margin-top:10%;
    
    display: inline-block;
    width: auto;
    /* padding: 6px 30px; */
    padding: 15px 70px;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    margin-bottom: 60px;
    margin-left: 16%;
}
.standardcard h5{
   font-size: 20px;
   margin-left: 54%;
   margin-top:-6%;
   margin-bottom: 20px;
}
.standardcard p{
   margin-left: 54%;
}

.standardcard span img{
   margin-left: 54%;
   margin-top: 2px;
   height: auto;
   padding-top: 10px;
   padding-bottom: 20px;
  
}
.standardcard span p{
   margin-left: 58%;
   margin-top: -3%;
   font-size: 13px;
   padding-top: 10px;
   
}
.standardpackage div{
   margin-top: 44px;
   font-size: 15px;
    padding: 30px 10px;
    color: #878484;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-left:52%;
    margin-right: 20%;
    margin-bottom: 40px;
    width:30%;
    
}
.standardpackage div h2{
   font-weight: 700;
   font-size: 24px;
   padding-top: 5px;
   color: #496cfe;

}
.standardpackage span{
   font-size: 12px;
   color: #878484;
 
}
.standardpackage div a{
  
   padding: 14px 39px;
   border-radius: 999px;
   color: #fff;
  
   z-index: 1;
   color: #fff;
   border: none;
   background-color: #5BD1D7;
   text-decoration: none;
   margin-left: 36%;
   font-size: 16px;
   font-weight: 600;
   line-height: 24px;
}
.standardpackbutton{
   position: relative;
    z-index: 1;
    padding: 18px;
    -webkit-transition: all .24s ease-in-out;
    transition: all .24s ease-in-out;
    border: 1px solid rgba(13, 21, 75, .15);
    background-color: #fff;
    -webkit-box-shadow: 0 3px 7px 0 rgb(55 94 246 / 20%);
    box-shadow: 0 3px 7px 0 rgb(55 94 246 / 20%);
    margin-bottom: 40px;
    margin-right: 12%;
    margin-left: 12%;
    height:80px;
    margin-top: 6%;
    width:auto;
}
.standardpackbutton li a:first{
   background-color: #004D61;
}
.standardpackbutton:hover{
   border-color: #496cfe;
}
.standardpackbutton li:active{
  
   background-color: #004D61;
}
.standardpackbutton li a:active{
   color: #fff;
}
.standardpackbutton li{
   font-size: 14px;
   cursor: pointer;
    display: inline-block;
    padding: 14px 30px;
    -webkit-transition: all .24s ease-in-out;
    transition: all .24s ease-in-out;
    text-align: center;
    text-transform: uppercase;
    margin-right: 14px;
    margin-left: 15px;
    
    border: 1px solid rgba(42, 56, 76, .15);
    border-radius: 22px;
    background-color: white;
    -webkit-box-shadow: 0 5px 10px 0 rgb(55 94 246 / 20%);
    box-shadow: 0 5px 10px 0 rgb(55 94 246 / 20%);
    
}
.standardpackbutton a{
   text-decoration: none;
   color: #4f4f4f;
}
.standardpackbutton a :focus{
   color:#2ecc71;
}
.classcard{
   padding:40px 50px;
   background-color: #2ecc71;
   margin-top: 40px;
}
.classcard span{
   font-size: bold;
}
.standardhotelcard{
   position: relative;
   z-index: 1;
   padding: 18px;
   padding-bottom: 2%;
   -webkit-transition: all .24s ease-in-out;
   transition: all .24s ease-in-out;
   border: 1px solid rgba(13, 21, 75, .15);
   background-color: #fff;
   -webkit-box-shadow: 0 3px 7px 0 rgb(55 94 246 / 20%);
   box-shadow: 0 3px 7px 0 rgb(55 94 246 / 20%);
   margin-bottom: 10%;
   margin-right: 12%;
   margin-left: 12%;
   height:auto;
   margin-top: 6%;
   width:auto;
}

.standardhotelcard:hover{
  border-color: #496cfe;
}
.standardhotelcard span{
   font-size: 20px;
   font-weight: 600;
   padding-top: 15%;
   margin-bottom: 30px;
}
.standardhotelcard p{
   font-size: 16px;
    line-height: 26px;
    margin-top: 3%;
}
.standardoverviewcard{
   position: relative;
   z-index: 1;
   padding: 18px;
   padding-bottom: 2%;
   -webkit-transition: all .24s ease-in-out;
   transition: all .24s ease-in-out;
   border: 1px solid rgba(13, 21, 75, .15);
   background-color: #fff;
   -webkit-box-shadow: 0 3px 7px 0 rgb(55 94 246 / 20%);
   box-shadow: 0 3px 7px 0 rgb(55 94 246 / 20%);
   margin-bottom: 10%;
   margin-right: 12%;
   margin-left: 12%;
   height:auto;
   margin-top: 6%;
   width:auto;
}
.standardoverviewcard:hover{
   border-color: #496cfe;
 }
 .standardoverviewcard h4{
   background: #496cfe;
   font-size: 14px;
   position: relative;
    display: inline-block;
    padding: 10px 40px;
    margin-top: 15px;
    margin-bottom: 30px;
    color: #fff;
    text-transform: uppercase;
    
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
 }
 .standardoverviewcard ul{
   list-style-type: none;
 }
 .standardoverviewcard li{
   display: list-item;
   padding-top: 10px;
 }
 .standardoverviewcard1{
   position: relative;
   z-index: 1;
   padding: 12px;
   padding-bottom: 2%;
   -webkit-transition: all .24s ease-in-out;
   transition: all .24s ease-in-out;
   border: 1px solid rgba(13, 21, 75, .15);
   background-color: #fff;
   -webkit-box-shadow: 0 3px 7px 0 rgb(55 94 246 / 20%);
   box-shadow: 0 3px 7px 0 rgb(55 94 246 / 20%);
   margin-bottom: 10%;
   margin-right: 12%;
   margin-left: 12%;
   height:auto;
   margin-top:-8%;
   width:auto;
 }
 .standardoverviewcard1 h3{
   font-size: 19px;
   font-weight: 600;
   color: #000;
   padding-top: 20px;
   padding-bottom: 20px;

 }
 .standardoverviewcard1 span{
   font-size: 16px;
   font-weight: 600;
   color: #000;
  
 }
 .standardoverviewcard1 p{
   font-size: 16px;
   line-height: 26px;
   margin-top: 0;
   margin-bottom: 1rem;
   padding-top: 10px;
 }
 .standardoverviewcard1 li{
   font-size: 14px;
   cursor: pointer;
   display: inline-block;
    text-align: center;
    text-transform: uppercase;
    margin-right: 20px;
    margin-left: 30px;
  
 }
 .standardoverviewcard1 img{
   display:inline;
   margin-left: -90%;
   padding-top: 10px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   font-size: 45px;
    line-height: 53px;
    margin-top: 10px;
    border: 1px dotted rgba(73, 108, 254, .702);
    background: #fff;
 }
 .standardoverviewcard1 h2{
   font-size: 13px;
  margin-left: 1px;
  font-weight: 700;
  color: #333;
  margin-top: -50px;
  padding-right: 33px;
 }
 .standardoverviewcard1 h4{
   font-size: 18px;
   font-weight: 500;
   margin-left: 50px;
   color: #496cfe;
   padding-right: 33px;
  }
  .standardpolicies{
   position: relative;
   z-index: 1;
   padding: 18px;
   padding-bottom: 2%;
   -webkit-transition: all .24s ease-in-out;
   transition: all .24s ease-in-out;
   border: 1px solid rgba(13, 21, 75, .15);
   background-color: #fff;
   -webkit-box-shadow: 0 3px 7px 0 rgb(55 94 246 / 20%);
   box-shadow: 0 3px 7px 0 rgb(55 94 246 / 20%);
   margin-bottom: 10%;
   margin-right: 12%;
   margin-left: 12%;
   height:auto;
   margin-top: 6%;
   width:auto;
  }
  .standardpolicies h3{
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 35px;
   margin-left: 1%;
   margin-top: -0%;
  }
  .standardpolicies li{
   font-size: 16px;
   cursor: pointer;
   display: inline-block;
    text-align: center;
  
    margin-right: 10px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 80%;
  }
  .standardpolicies img{
    margin-left: -100%;
  }
  .standardpolicies h4{
   font-size: 16px;
   font-weight: 600;
   color: #000;
   margin-left: -66%;
   margin-top: -3%;
 }
 .standardpolicies h5{
   font-size: 16px;
   font-weight: 600;
   color: #000;
   margin-left: -79%;
   margin-top: -3%;
 }
 .standardpolicies div{
  margin-left: -50%;
  margin-top: 10px;
 }
 
 .standardpolicies p{
   font-size: 13px;
   color: #333;
   margin-left: 2%; 
   display:inline-block;
 }
 .standardpolicies span{
   font-size: 13px;
   color: #333;
   margin-left:-39%; 
   padding-top: 10px;
   display:inline-block;
 }
 .standardpolicies div span{
   font-size: 13px;
   color: #333;
   margin-left:-14%; 
   padding-top: 10px;
   display:inline-block;
 }
 .standardpolicies div li {
   display:inline-block;
   width:auto;
   margin-left:10px;
 }
 .standardpolicies div ul {
   
   margin-left:120px;
   margin-top: -4%;
 }
 .standardpolicies p i{
   color:#496cfe;
 }
 .standardpolicies div li img:hover{
   -webkit-transform: scale(0.0);
   transform: scale(1.1);
 }
 .standardcancel{
   position: relative;
   z-index: 1;
   padding: 18px;
   padding-bottom: 2%;
   -webkit-transition: all .24s ease-in-out;
   transition: all .24s ease-in-out;
   border: 1px solid rgba(13, 21, 75, .15);
   background-color: #fff;
   -webkit-box-shadow: 0 3px 7px 0 rgb(55 94 246 / 20%);
   box-shadow: 0 3px 7px 0 rgb(55 94 246 / 20%);
   margin-bottom: 10%;
   margin-right: 12%;
   margin-left: 12%;
   height:auto;
   margin-top: -8%;
   width:auto;
 }
 .standardcancel span{
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 30px;
 }
 .standardcancel h3{
   font-size: 16px;
   margin-top: 19px;
   margin-bottom: 30px;
   text-transform: uppercase;
   color: #000;
 }
 .standardcancel h4{
   font-size: 15px;
   font-weight: 600;
   color: #000;
   padding-bottom: 10px;
 }
 .standardcancel p{
   font-size: 16px;
   line-height: 26px;
 }
 .standardreviews div{
  
   padding-left: 30px;
   padding-top: 30px;
  
   border: 1px dashed #496cfe;
   border-radius: 0.25rem;
   width:20%;
   height:40%;

 }
 .standardreviews div img{
   border-radius: 50%;

 }
 .standardreviews span{
   font-size: 13px;
   color: #878484;
   margin-top: 50%;
 }
@media screen and (max-width: 960px) {
     /* Helpcenter css*/
     .helpheading h2{
     text-align: center;
     justify-content: center;
     display: flex;
     flex-direction:row;
     margin-right: -40%;
     margin-top: 10%;

    }
    .helpheading a{ 
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-right: 40px;
    }
    /* Standard css*/
    .standardheading h2{
        text-align: center;
        justify-content: center;
        font-size: auto;
        flex-direction:column;
      
        margin-top: 10%;
     }
     .standardheading a{
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-right: 40px;
     }
     /* compare css*/
     .compareheading h2{
        text-align: center;
        justify-content: center;
        flex-direction:column;
        display:grid;
        margin-right: 29px;
        margin-top: 10%;
     }
     .compareheading a{
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-right: 40px;
     }
     /* blog css*/
     .blogheading h2{
        text-align: center;
        justify-content: center;
        flex-direction:column;
        display:grid;
        margin-right: -39%;
        margin-top: 10%;
     }
     .blogheading a{
         text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-right:-10%;
     }
     .blogcard{
        
        flex-direction:column;
        display:inline-table;
        
        margin-left: -11%;
        width:auto;
       

     }
     /* blog01 css*/
     .blog01heading h2{
        text-align: center;
        justify-content: center;
        flex-direction:column;
        display:grid;
        margin-right: -39%;
        margin-top: 10%;
     }
    .blog01heading a{
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-right:-10%;
    }
    /* blog02 css*/
   .blog2heading h2{
      margin-top: 10%;
     margin-left: 1%;
     display: left;
  }
 .blog2heading a{
   display: flex;
   
   flex-direction: row;
   margin-left: 6%;
 }
  /*Contact us css*/
 .contactusheading h2{
    
     margin-top: 10%;
     margin-left: 1%;
     display: left;
}
.contactusheading a{
  
   display: flex;
   
   flex-direction: row;
   margin-left: 6%;
}
.contactussection{
   margin-top: 100px;
   height:100%;
   margin-left:1%;

}

.sectionimg1{
 width:0%;
 height:0%;
}
.addresssection{
  margin-top: 100px;
 
  
}
.addresssection span{
  font-size: auto;
  
}
.addresssection p{
   font-size: auto;
}
.row1{
  
   display:grid;
   height: auto;

}
.brands ul{
  
 display:inline-table;
 margin-left: 4%;
 width:100%;
}
.brands li{
   border: none;
}


}
