.dropdown-menu {
  background: #fd7e14;
  width: 150px;
  position:absolute;
  display:block;
  top: 78px;
  
  list-style: none;
  text-align: start;

  /* background: #fd7e14;
  width: 160px;
  position: absolute;
  top: 84px;
  list-style: none;
  text-align: start; */
}

.dropdown-menu li {
  background: #fff;
  cursor: pointer;
  
}

.dropdown-menu li:hover {
  background: #f5142b;
  color: #fff;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #413e3e;
  padding: 8px;
  font-size: 16px;
}
.dropdown-link:hover {
  color: #fff;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
