.btn {
  background: rgb(89, 189, 184) ;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size:12px;
  outline: medium none; 
  border:none;
  font-weight: bold;
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
  border-radius: 12px;
  width: 7pc;
  height: 2pc;
  box-shadow: 4pc;
 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover {
  background-color: red;
 
 
  color: #fff;
 
 
}
.navbar {
  background: transparent;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  z-index: 999;
 
  top: 0;
 
}

.upnavitemsupport{
  text-decoration: none;
  color:#413E3E;
  margin-left:10%;
 
}
.upnavitememail{
  text-decoration: none;
  color:#413E3E;
}
.upnavitemsignin{
  text-decoration: none;
  color:#d9e0fd;
  margin-left: 50%;
}
.upnavitemregister{
  text-decoration: none;
  color:#d9e0fd;
  
}
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}
.navbar.colorChange{
  background-color: #fff;
  position:fixed;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height:auto;
  
  
}


.navbar-logo {
  color: #242222;
  justify-self: start;
  margin-left: -1px;
  margin-right: -10%;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 5px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 60px;
  
}


.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size:14px;
  
  
}
.nav-links.colorChange1 {
  color:#004D61;
}

.nav-links:hover {
  color: red;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #242222;
}

.nav-links-mobile {
  display: none;
  height: 6px;
}

.menu-icon {
  display: none;
}


@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #ddd;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: red;
    color: white;
    border-radius: 0;
  }
  


  .navbar-logo img {
    position: absolute;
    height: auto;
    top: 0;
    left: 0;
    margin-bottom: 10%;
    
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #242222;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 4rem auto;
    border-radius: 8px;
    width: 80%;
    height:4pc;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  button {
    display: none;
  }
  .upnavitemsupport{
   
    color:#fff;
  
   
  }
  .upnavitememail{
    color:#fff;
   
  }
  .upnavitemsignin{
    color:#fff;
  }
  .upnavitemregister{
    color:#fff;
  }
}
