* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.services,
.products,
.contact-us,
.sign-up,
.marketing,
.consulting,
.aboutus,
.affiliateprogram,
.help,
.howitworks,
.standard,
.premium,
.compare,
.blog,
.blog1,
.blog2,
.blog3,
.customerreview,
.privacypolicy {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.aboutus,
.affiliateprogram,
.services,
.help,
.howitworks,
.standard,
.premium,
.compare,
.blog,
.blog1,
.blog2,
.blog3,
.contact-us,
.customerreview,
.privacypolicy {
  background-image: url("./images/bredcump.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  height: 500px;
  margin-top: -8%;
  width: 100%;
 
}

/* .home {
  background-image: url('./images/banner1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */
/* .services {
  background-image: url('./images/banner1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */

.products {
  /* background-image: url('./images/img-3.jpg'); */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

/* .contact-us {
  background-image: url('./images/img-4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */

.sign-up {
  /* background-image: url('./images/img-7.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.marketing {
  background-image: url("./images/img-6.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.Costomerreview {
  background-image: url("./images/img-5.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
@media screen and (max-width: 960px) {
  .aboutus,
  .affiliateprogram,
  .services,
  .help,
  .howitworks,
  .standard,
  .premium,
  .compare,
  .blog,
  .blog1,
  .blog2,
  .blog3,
  .contact-us,
  .customerreview,
  .privacypolicy {
    width: auto;
  }
}
/* @media screen and (max-width: 320px) {

  .aboutus,
  .affiliateprogram,
  .services,
  .help,
  .howitworks,
  .standard,
  .premium,
  .compare,
  .blog,
  .blog1,
  .blog2,
  .blog3,
  .contact-us,
  .customerreview,
  .privacypolicy {
    width:auto;
    background-position: center;
    background-size: auto;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -30px;
    
  }
  
}
@media screen and (max-width: 411px) {
  .aboutus,
  .affiliateprogram,
  .services,
  .help,
  .howitworks,
  .standard,
  .premium,
  .compare,
  .blog,
  .blog1,
  .blog2,
  .blog3,
  .contact-us,
  .customerreview,
  .privacypolicy {
    width:auto;
    background-position: center;
    background-size: auto;
    padding-left: 0px;
    padding-right: 0px;
    height:auto;
   
  }
  
}
@media screen and (max-width: 414px) {
  .aboutus,
  .affiliateprogram,
  .services,
  .help,
  .howitworks,
  .standard,
  .premium,
  .compare,
  .blog,
  .blog1,
  .blog2,
  .blog3,
  .contact-us,
  .customerreview,
  .privacypolicy {
    width:auto;
    background-position: center;
    background-size: auto;
    padding-left: 0px;
    padding-right: 0px;
    height:auto;
    
  }
  
}
@media screen and (max-width: 768px) {
  .aboutus,
  .affiliateprogram,
  .services,
  .help,
  .howitworks,
  .standard,
  .premium,
  .compare,
  .blog,
  .blog1,
  .blog2,
  .blog3,
  .contact-us,
  .customerreview,
  .privacypolicy {
    width:auto;
    background-position: center;
    background-size: auto;
    padding-left: 0px;
    padding-right: 0px;
    height:400px;
    
    margin-bottom: -60px;
  }
  
}
@media screen and (max-width: 1024px) {
  .aboutus,
  .affiliateprogram,
  .services,
  .help,
  .howitworks,
  .standard,
  .premium,
  .compare,
  .blog,
  .blog1,
  .blog2,
  .blog3,
  .contact-us,
  .customerreview,
  .privacypolicy {
   
    background-position: center;
    background-size: auto;
    padding-left: 0px;
    padding-right: 0px;
    height:400px;
   
   
  }
  
}
@media screen and (max-width: 540px) {
  .aboutus,
  .affiliateprogram,
  .services,
  .help,
  .howitworks,
  .standard,
  .premium,
  .compare,
  .blog,
  .blog1,
  .blog2,
  .blog3,
  .contact-us,
  .customerreview,
  .privacypolicy {
     width:auto;
    background-position: center;
    background-size: auto;
    padding-left: 0px;
    padding-right: 0px;
    height:400px;
   
   
  }
  
} */

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  .aboutus,
  .affiliateprogram,
  .services,
  .help,
  .howitworks,
  .standard,
  .premium,
  .compare,
  .blog,
  .blog1,
  .blog2,
  .blog3,
  .contact-us,
  .customerreview,
  .privacypolicy {
    width:auto;
    background-position: center;
    background-size: auto;
    padding-left: 0px;
    padding-right: 0px;
    height:400px;
    top:0px;
   
  }
}
